.individual-div{
    background-color:rgba(0,0,0,0.1);
    /* margin-top: 1%;
    margin-left: 5%;
    margin-right: 5%;
    border-radius: 8px; */
    
    border-radius: 15px;
    margin-top: 15px;
    height:60px;
    padding-top: 25px;
    text-align: center;
    margin-left: 5%;
    margin-right: 5%;
    border-collapse: separate;
    cursor: pointer;
}
.room-status{
      width: 100.15px;
      height: 24.56px;
    text-align:center;
    border: none;
    background: #ffa600;
    border-radius: 10px;
    color:white;
    cursor:pointer;
}
.room-status-not{
    width: 100.15px;
    height: 24.56px;
  text-align:center;
  border: none;
  background: #009c1a;
  border-radius: 10px;
  color:white;
  cursor:pointer;
}