*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    background: #fff;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .loginbox {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 500px;
    height: 400px;
    background: #ffffff;
    margin: 100px auto 0;
    word-break: break-all;
  }
  
  .bloc-tabs {
    display: flex;
  }
  
  
  .tabs {
    padding: 15px;
    text-align: center;
    width: 50%;
    background:#fff;
    cursor: pointer;
    border-bottom: 1px solid rgba(0, 0, 0, 0.274);
    box-sizing: content-box;
    position: relative;
    outline: none;
  }
  .tabs:not(:last-child){
    border-right: 1px solid rgba(0, 0, 0, 0.274);
  }
  
  .tabs.active-tabs  {
    background: #e2e2e2;
    border-bottom: 1px solid transparent;
    
  }
  
  .active-tabs::before {
    content: "";
    display: block;
    position: absolute;
    top: -5px;
    left: 50%;
    transform: translateX(-50%);
    width: calc(100% + 2px);
    height: 5px;
    background:  white;
    
  }
  
  
  
 .bloc-tabs button {
    text-align:"center";
      height: 40px;
      display:inline-block;
      color:black;
      font-size: 15px;
      background: rgba(236, 52,52,255);
      background-color: rgb(243, 236, 236);
      cursor: pointer;
      border: none;
      box-sizing:border-box; 
      outline: none;
      border: 0px;
      box-shadow: 0px;
      width: 235%;
  }
  .content-tabs {
    flex-grow : 1;
    text-align: center;
    background-color:#eeebeb;
  }
  .btn{
    text-align:"center";
    height: 40px;
	display:inline-block;

	color: #fff;
	font-size: 15px;
	background: rgba(236, 52,52,255);
	cursor: pointer;
	border: none;
	box-sizing:border-box; 
	outline: none;
	width: 50%;
	margin:0 25% 0 25%;
	border-radius:4px;
  }
  .login input{
    width: 90%;
    border-radius: 5px;
	border: 1px solid rgb(209, 204, 204);
    background-color: #b9b9b9;
	  margin-left:5%;
	  margin-right:5%;
	padding:1em 0 1em 0;
	box-sizing:border-box;
     
  }
  .login ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: black;
    opacity: 1; /* Firefox */
  }
  .content {
   
    background-color:  #e2e2e2;
    padding: 20px;
    width: 100%;
    height: 100%;
    display: none;
  }
  .content h2 {
    padding: 0px 0 5px 0px;
  
    color: rgb(0, 0, 0);
  }
  .content hr {
    width: 100px;
    height: 2px;
    background: #222;
    margin-bottom: 5px;
  }
  .content p {
    width: 100%;
    height: 100%;
  }
  .active-content {
    display: block;
  }