.superAdminNavbar
{
       background-color:rgba(236,52,52,255);
       font-size:4.5mm;
       height:3em;
     
}
.superAdminLogoutButton
{
    background-color:rgba(236,52,52,255);
    border:rgba(236,52,52,255);
    color:white;
    text-decoration:none;  
}
.title{
    background-color:rgba(236,52,52,255);
    border:rgba(236,52,52,255);
    color:white;
    text-decoration:none;
    font-size:1.7em;
}
.superAdminDashboardLink,.superAdminBookingLink{
    background-color:rgba(236,52,52,255);
    border:rgba(236,52,52,255);
    color:rgb(193,193,193);
    text-decoration:none;
}  
.superAdminDashboardLink:hover{
    color:white;
}
.superAdminBookingLink:hover{
    color:white;
}
.superAdminDashboardLink:active{
    color:white;
}
.superAdminBookingLink:active{
    color:white;
}