.allAdminDetails{
    background-color:rgba(236,52,52,255);
    width:80%;
    text-align:center;
    color:white;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    padding: 20px;
    /*width: 200px;
    height: 150px;*/
}
.tr1{
    background-color:rgba(236,52,52,255);
}
.tb{
    background-color: rgba(0,0,0,0.1);
    width:80%;
    text-align:center;
    color:white;
    padding: 20px;
}
